@page "/products"
@rendermode InteractiveServer
@inject IProductsWriteHttpClient _writeSideHttpClient
@inject IProductsReadHttpClient _readSideHttpClient
@inject NavigationManager Nav

<div class="card border-primary">

    <div class="card-header text-center bg-primary text-light">
        <h4><b>WRITE SIDE PRODUCTS TESTING</b></h4>
    </div>

    

    

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                
                @if (SelectedProduct is null)
                {
                    <CascadingValue Name="SelectedProduct" Value="@SelectedProduct">
                        <ProductsList />
                    </CascadingValue>
                }
                else
                {
                    <CascadingValue Name="SelectedProduct" Value="@SelectedProduct">
                        <ProductDetail />
                    </CascadingValue>
                }
                
            </div>
        </div>

    </div>

    <div class="card-body text-center bg-primary text-light">
        <h5><b><i>Be good to your pets!</i></b></h5>
    </div>

</div>

@code {
    
    public ProductSummaryDTO? SelectedProduct { get; set; }

    
}
