@page "/snapshotRecordsWrite"
@rendermode InteractiveServer
@inject IProductsWriteHttpClient _writeSideHttpClient

<div class="card border-primary">

    <div class="card-header text-center bg-primary text-light">
        <h4><b>WRITE SIDE SNAPSHOT RECORDS</b></h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">



            </div>
        </div>
    </div>

    <div class="card-body text-center bg-primary text-light">
        <h5><b><i>Be good to your pets!</i></b></h5>
    </div>
</div>

@code {

}
