.product-card {
    min-width: 100%;
    padding: 1.4rem;
    background-color: #252b43;
    color: white;
    border-radius: 5px;
/*    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;*/
}

.product-image {
    background-color: inherit;
    justify-self: end;
}
.product-description {
    font-size: 0.8rem;
}
.product-name {
    opacity: 0.6;
    font-size: 1.0rem;
    background-color: inherit;
}

.product-price {
    font-size: 0.9rem;
    font-weight: bold;
    color: #37a890;
    background-color: inherit;
    /*    margin-bottom: -5px;*/
}

.product-uom {
    font-size: 0.6rem;
    color: #37a890;
    background-color: inherit;
    align-self: end;
}
